{% extends "AppKalos/padre.html" %}
{% load static %}

{% block header1 %} <h2 class="masthead-subheading mb-0"> Profesionales </h2> {% endblock header1 %}

{% block botonscroll %} 

<a class="btn btn-primary btn-xl rounded-pill mt-5" href="{% url 'Inicio' %}">Volver al inicio</a>

{% endblock botonscroll %} 

{% block section1 %}
    <form action="" method="POST"> {% csrf_token %}

        <table>
        
            {{ miFormulario.as_table }}
        
        </table>

        <input type="submit" value="Cargar Profesional">

    </form>


{% endblock section1 %}
