{% extends "AppKalos/padre.html" %}
{% load static %}

{% block header1 %} 
<h2 class="masthead-subheading mb-0"> Buscar Profesional </h2> 

{% endblock header1 %}
{% block botonscroll %} 
<a class="btn btn-primary btn-xl rounded-pill mt-5" href="{% url 'Buscar Profesional' %}">Buscar Otro</a>
{% endblock botonscroll %} 
{% block section1 %}

{% for profesional in profesionales %}

<li>Nombre: {{profesional.nombre}} </li>
<li>Apellido: {{profesional.apellido}} </li>
<li>Profesion: {{profesional.profesion}} </li>
<li>____________________________________ </li>

{% endfor %}

{% endblock section1 %}