{% extends "AppKalos/padre.html" %}
{% load static %}

{% block header1 %} <h2 class="masthead-subheading mb-0"> Pacientes </h2> {% endblock header1 %}
{% block botonscroll %} 
<a class="btn btn-primary btn-xl rounded-pill mt-5" href="{% url 'Carga de Pacientes' %}">Cargar Paciente</a>
<a class="btn btn-primary btn-xl rounded-pill mt-5" href="{% url 'Buscar Pacientes' %}">Mostrar Paciente</a>
{% endblock botonscroll %}

{% block section1 %}

<section id="scroll">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="p-5 text-center d-flex justify-content-center align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="img-fluid rounded-circle" src="{% static 'AppKalos/assets/img/01.jpg' %}" alt="..." /></div>
                </div>    
            </div>
        </div>
    </div>
</section>

{% endblock section1 %}
